[submodule "shell/plugins/dircolors-solarized"]
	path = shell/plugins/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
	ignore = untracked
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
	ignore = untracked
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	ignore = untracked
[submodule "vim/plugins/nerdtree"]
	path = vim/plugins/nerdtree
	url = https://github.com/preservim/nerdtree.git
	ignore = untracked
[submodule "vim/plugins/vim-colors-solarized"]
	path = vim/plugins/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
	ignore = untracked
[submodule "vim/plugins/lightline.vim"]
	path = vim/plugins/lightline.vim
	url = https://github.com/itchyny/lightline.vim
	ignore = untracked
[submodule "vim/plugins/ctrlp.vim"]
	path = vim/plugins/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
	ignore = untracked
[submodule "vim/plugins/LeaderF"]
	path = vim/plugins/LeaderF
	url = https://github.com/Yggdroot/LeaderF.git
	ignore = untracked
[submodule "vim/plugins/vim-gutentags"]
	path = vim/plugins/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
	ignore = untracked
[submodule "vim/plugins/vim-fugitive"]
	path = vim/plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "vim/plugins/tagbar"]
	path = vim/plugins/tagbar
	url = https://github.com/preservim/tagbar.git
	ignore = untracked
[submodule "vim/plugins/dispatch"]
	path = vim/plugins/dispatch
	url = https://tpope.io/vim/dispatch.git
	ignore = untracked
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
	ignore = untracked
[submodule "vim/plugins/commentary"]
	path = vim/plugins/commentary
	url = https://github.com/tpope/vim-commentary.git
	ignore = untracked
[submodule "vim/plugins/vim-highlightedyank"]
	path = vim/plugins/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank.git
	ignore = untracked
