[submodule "vim/plugins/vim-tmux"]
	path = vim/plugins/vim-tmux
	url = git://github.com/tmux-plugins/vim-tmux.git
	ignore = untracked
[submodule "shell/plugins/dircolors-solarized"]
	path = shell/plugins/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
	ignore = untracked
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
	ignore = untracked
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
	ignore = untracked
